.logo {
        height: 50px;
    width: 50px;
    /* background-color: aqua; */
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
}

.Profile{
    /* background-image: url('/img/oklahoma-city-thunder-chesapeake-energy-arena-floorjpg.jpg'); */
    background-size: cover;
    background-position: center;
}

.logo_profile {
    height: 150px;
    width: 150px;
    /* background-color: aqua; */
    border-radius: 50%;
    background-size: cover;
    object-fit: cover;
}

body, html {
    height: 100%;
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Full viewport height */
    flex-direction: column;
}